/* Import Font */
@import url("https://fonts.googleapis.com/css?family=Raleway"); 

body {
    background: #ffecd9;
    font-family: "Consolas";
    /*padding: 1vh; 
    This will make the version look more alike to the index.html. However, the gameboard border would glitch out
    Unless a solution is found, please keep it like that*/ 
    color: #424242;
    font-family: 'Raleway', Sans-serif;
}

h1{
    margin: 0.5vh 0vh;
    font-size: 4vh;
}

h2{
    font-size: 3vh;
    font-weight: 590;
}

p {
    font-size: 2vh;
}

a {
    color: #18a8b8;
    font-size: 2.3vh;
}

p.arrViewText {
    margin: .5vh 0vh .5vh 0vh;
}

/* Grid styling */
.gameboard, td, th {
    padding: 0;
    border-collapse: collapse;
    width: 4.5vh;
    height: 4.5vh;
    font-size: 3vh;
    color: #19699e;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border: .1vh solid #a2ccb6;
}

/* Input fields */
.gameboard, textarea{
    background-color: #fceeb5;
}

textarea{
    -webkit-box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.15);
}
#options{
    margin: 0vh 0vh 1.5vh 0vh;
}